{% extends 'base-wall.html' %}
{% load static %}
{% block content %}

<style>
    #profile_photo
    {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: -10px;
    border-radius: 100px;
    
    }

    #profile_background
    {
    width: 100%;
    height: 200px;
    margin-bottom: -100px;
    margin-left: 10px;
    border-radius: 10px;
    float:left;
    }

    .btn
    {
        margin-bottom: 10px;
    }
</style>
    <h1>
        {% if profile.background %}
              <img id="profile_background" src={{profile.background.url}}>
        {% else %}
              <img id="profile_background" src="https://wallpapercave.com/wp/wp7264190.jpg"/>
        {% endif %}

        {% if profile.photo %}
              <img id="profile_photo" src={{profile.photo.url}}>
        {% else %}
              <img id="profile_photo" src="https://image.flaticon.com/icons/png/512/149/149071.png"/>
        {% endif %}
    </h1>
    <h1>{{profile.username}}</h1>
    {% if profile.bio %}
        <p>{{profile.bio}}</p>
    {% endif %}
    <h5>{{profile.first_name}} {{profile.last_name}}</h5>
    <h6>Email: {{profile.email}}</h6>
    <h6>Joined: {{profile.joined}}</h6>
    <h6>Followers: 
        <i id="followers">{{profile.followers}}</i> 
        Following: 
        <i id="following">{{profile.following}}</i>
    </h6>
    <h6>Friends: 
        <i id="friends">{{profile.friends}}</i>
    </h6>
    <h6>Posts: {{profile.posts}}</h6>
    {% if user != profile and user.is_authenticated %}
        {% if is_followed %}
            <input type="button" class="btn btn-danger" id="followBtn" name="" value="Unfollow" />
        {% else %}
            <input type="button" class="btn btn-primary" id="followBtn" name="" value="Follow" />
            
        {% endif %}


        {% if is_friend %}
            <input type="button" class="btn btn-danger" id="friendBtn" name="" value="Remove friend" />
            
        {% else %}
            {% if is_requested %}
                <input type="button" class="btn btn-danger" id="friendBtn" name="" value="Remove request" />
                
            {% elif am_i_requested %}
                <input type="button" class="btn btn-success" id="friendBtn" name="" value="Accept request" />
                
            {% else %}
            <input type="button" class="btn btn-primary" id="friendBtn" name="" value="Send request" />
                
            {% endif %}
        {% endif %}
    {% else %}
    {% endif %}

<script>
    function followSuccess()
    {
        let followBtn = $('#followBtn');
        let followers = $('#followers');
        let followersCount = parseInt(followers.text());
        let mode = followBtn.attr("value");
        

        if (mode == "Follow")
        {
            followBtn.attr("value", "Unfollow");
            followBtn.removeClass('btn-primary');
            followBtn.addClass("btn-danger");
            followers.html(followersCount + 1);

        }
        else if (mode  == "Unfollow")
        {
            followBtn.attr("value", "Follow");
            followBtn.removeClass('btn-danger');
            followBtn.addClass("btn-primary");
            followers.html(followersCount - 1);
        }
    }

    $('#followBtn').click(function(){
        let url = $(this).attr("value") == "Follow" ? "{% url 'follow_url' %}" : "{% url 'unfollow_url' %}"

      $.ajax({
               type: "POST",
               url: url,
               data: {'profile': "{{profile.username}}", 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    console.log(response);
                    followSuccess();
                },
                error: function(response, e) {
                       console.log(response.responseText);
                }
          }); 
    })



    function friendSuccess()
    {
        let friendBtn = $('#friendBtn');
        let friends = $('#friends');
        let friendsCount = parseInt(friends.text());
        let mode = friendBtn.attr("value");

        switch(mode)
        {
            case 'Accept request':
                friendBtn.attr("value", "Remove friend");
                friendBtn.removeClass('btn-success');
                friendBtn.addClass("btn-danger");
                friends.html(friendsCount + 1);
                break;
            case 'Remove friend':
                friendBtn.attr("value", "Send request");
                friendBtn.removeClass('btn-danger');
                friendBtn.addClass("btn-primary");
                break;
            case 'Remove request':
                friendBtn.attr("value", "Send request");
                friendBtn.removeClass('btn-danger');
                friendBtn.addClass("btn-primary");
                break;
            case 'Send request':
                friendBtn.attr("value", "Remove request");
                friendBtn.removeClass('btn-primary');
                friendBtn.addClass("btn-danger");
                break;

        }
        
    }

    $('#friendBtn').click(function(){
        let url = "";

        switch($(this).attr("value"))
        {
            case 'Accept request':
                url = "{% url 'accept_request_url' %}";
                break;
            case 'Remove friend':
                url = "{% url 'remove_friend_url' %}";
                break;
            case 'Remove request':
                url = "{% url 'remove_request_url' %}";
                break;
            case 'Send request':
                url = "{% url 'send_request_url' %}";
                break;

        }

      $.ajax({
               type: "POST",
               url: url,
               data: {'profile': "{{profile.username}}", 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    console.log("Success");
                    friendSuccess();
                },
                error: function(response, e) {
                    console.log("Not success");
                }
          }); 
    })

    
</script>


{% endblock %}