{% extends 'base-wall.html' %}
{% load static %}
{% block content %}
<style>
    #profile_photo
    {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: -10px;
    border-radius: 100px;
    
    }

    #profile_background
    {
    width: 100%;
    height: 200px;
    margin-bottom: -100px;
    margin-left: 10px;
    border-radius: 10px;
    float:left;
    }
</style>
    <h1>
        {% if profile.background %}
              <img id="profile_background" src={{profile.background.url}}>
        {% else %}
              <img id="profile_background" src="https://image.freepik.com/free-vector/ombre-blue-curve-light-blue-background_53876-113896.jpg"/>
        {% endif %}

        {% if profile.photo %}
              <img id="profile_photo" src={{profile.photo.url}}>
        {% else %}
              <img id="profile_photo" src="https://image.flaticon.com/icons/png/512/149/149071.png"/>
        {% endif %}
    </h1>
    <h1>{{profile.username}}</h1>
    <h6>{{profile.first_name}} {{profile.last_name}}</h6>
    <h6>Email: {{profile.email}}</h6>
    <h6>Joined: {{profile.joined}}</h6>
    <h6>Followers: {{profile.followers}} Following: {{profile.following}}</h6>
    <h6>Friends: {{profile.friends}}</h6>
    {% if user != profile and user.is_authenticated %}
        {% if is_followed %}
            <button class="btn btn-danger">Unfollow</button>
        {% else %}
            <button class="btn btn-primary">Follow</button>
        {% endif %}

        {% if is_friend %}
            <button>Unfriend</button>
        {% else %}
            {% if is_requested %}
                <button class="btn btn-danger">Remove request</button>
            {% elif am_i_requested %}
                <button class="btn btn-success">Accept request</button>
            {% else %}
                <button class="btn btn-primary">Send request</button>
            {% endif %}
        {% endif %}
    {% else %}
    {% endif %}


{% endblock %}