{% load static %}

<style>
    .form-control
    {
        margin-bottom: 0px;
        display: inline-block;
        
    }
    .btn
    {
        display: inline-block;
    }

    .container-search
    {
        width: 100vw;
        position: absolute;
        z-index: auto;
        float: none;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 5px;
        
        
    }


    #search-box
    {
        margin: 0 auto;
    }

    #search_results
    {
        border: solid black 1px;
        border-top: solid white 1px;
        width: 280px;
        background-color: white;
        text-align: left;
        padding-left: 0px;
    }

    .search_img
    {
        width: 50px;
        height: 50px;
        border-radius: 30px;
        margin-left: 5px;
    }

    .solo_result
    {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .solo_result:hover
    {
        background-color: rgb(175, 207, 248);
    }

    @media (max-width: 1200px)
        {
            .container-search
            {
                margin-left: 15vw;
            }
            
        }

        @media (max-width: 700px)
        {
            .container-search
            {
                margin-left: 8vw;
                width: 85vw;
            }
        }



</style>

  <div class="container-search">
        <form class="form-inline ml-auto" id="seach-box" action="#" method="post">
            <input onkeyup="updateSearch(event)" type="text" id="search" name="search" class="input-small" placeholder="Search...">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>
        <ul id="search_results">
            
        </ul>    
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    let search = document.getElementById("search");
    let search_results = $("#search_results");

    search_results.css("display", "none");

    function update_search(users)
    {
        search_results.empty();
        if (users.length > 0)
        {
            search_results.css("display", "inline-block");
            for (const user of users)
            {
                if (user.photo)
                {
                    search_results.append("<li class=\"solo_result\"  href=\#\"> <img class=\"search_img\" src=\"/media/" + user.photo + "\"> " + user.username + "</li>");

                }
                else
                {
                    search_results.append("<li class=\"solo_result\" href=\"#\"> <img class=\"search_img\" src=\"https://image.flaticon.com/icons/png/512/149/149071.png\"> " + user.username + "</li>");
                }
            }
        }
        else
        {
            search_results.css("display", "none");
        }
    }

    function updateSearch()
    {
        if (search.value == "")
        {
            search_results.empty();
            search_results.css("display", "none");
            return;
        }

        $.ajax({
            type: 'GET',
            url: "{% url 'find_users' %}",
            data: {"username": search.value},
            success: function (response) {
                update_search(response["users"]);
                
            },
            error: function (response) {
                return;
            }
        })
    }

    search.onchange = updateSearch;

    window.addEventListener('click', function(e){   
        if (!document.getElementById("search_results").contains(e.target) &&
            !document.getElementById("search").contains(e.target))
        {
            update_search(Array());
        } 
        
});
</script>