{% load static %}

<style>
    .form-control
    {
        margin-bottom: 0px;
        display: inline-block;
        
    }
    .btn
    {
        display: inline-block;
    }

    .container-search
    {
        width: 100vw;
        position: absolute;
        z-index: auto;
        float: none;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 5px;
        
        
    }


    #search-box
    {
        margin: 0 auto;
    }

</style>

  <div class="container-search">
        <form class="form-inline ml-auto" id="seach-box" action="#" method="post">
            <input type="text" id="search" name="search" class="input-small" placeholder="Search...">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </form>       
</div>