{% load static %}

<style>
    .form-control
    {
        margin-bottom: 0px;
    }
    .navbar
    {
        position: absolute;
        z-index: 10;
        float:none;
        margin:0 auto;
        
    }
</style>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </nav>