{% extends 'base-wall.html' %}
{% load static %}
{% block content %}
<style>
    #requests_container {
        display: flex;
    }

    #requests_container:after {
    content: "";
    display: table;
    clear: both;
    }

    .requests_column {
        flex: 50%;
        padding: 20px;
        max-height: 600px;
        min-height:  200px;
        overflow: scroll;
        -webkit-box-shadow: 0px 0px 53px -7px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 53px -7px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 53px -7px rgba(66, 68, 90, 1);
        margin: 5px;
        border-radius: 10px;
    }

    .request_box
    {
        width: 100%;
        border: 0.5px solid black;
        display: inline-block;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    .request_box button
    {
        float:right;
        margin-left: 5px;
        border-radius: 20px;
    }

    .request_box a
    {

    }

    .request_user_photo
    {
        width: 40px;
        height: 40px;
    }

    .requests_list
    {
        margin-left: -20px;
    }

    .request_badge
    {
        background-color: red;
        color: white;
        position: relative;
        top: -10px;
        left: -5px;
        font-size: 18px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 6px;
        padding-right: 6px;
        border-radius: 20px;
    }

    

</style>
<h1>Requests</h1>
<div id="requests_container">
    <div id="received_requests_container" class="requests_column">
        <h3>Received
            <span class="request_badge">{{received_requests_count}}</span>
        </h3>
        <ul class="requests_list">
            {% for request in received_requests %}
            <div class="request_box">
                <a class="" href="/profile/{{request.sender.username}}">
                    {% if request.sender.photo %}
                    <img class="request_user_photo" src='{{request.sender.photo.url}}'>
                    {% else %}
                    <img class="request_user_photo" src="https://image.flaticon.com/icons/png/512/149/149071.png">
                    {% endif %}
                    
                    {{request.sender.username}}
                </a>

                <button class="btn btn-danger request_btn request_reject_btn" value="{{request.sender.username}}">Reject</button>
                <button class="btn btn-success request_btn request_accept_btn" value="{{request.sender.username}}">Accept</button>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div id="sent_requests_container" class="requests_column">
        <h3>Sent
            <span class="request_badge">{{sent_requests_count}}</span>
        </h3>
        <ul class="requests_list">
            {% for request in sent_requests %}
            <div class="request_box">
                <a class="" href="/profile/{{request.receiver.username}}">
                    {% if request.receiver.photo %}
                    <img class="request_user_photo" src='{{request.receiver.photo.url}}'>
                    {% else %}
                    <img class="request_user_photo" src="https://image.flaticon.com/icons/png/512/149/149071.png">
                    {% endif %}
                    
                    {{request.receiver.username}}
                </a>
                <button class="btn btn-danger request_btn request_remove_btn" value="{{request.receiver.username}}">Remove</button>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>

<script>


    $('.request_btn').click(function(event) {
        let target = $(this);
        let mode = target.text();
        let badge = target.parent().parent().parent().find(".request_badge");
        let url = "";
        

        switch (mode)
        {
            case "Accept":
                url = "{% url 'accept_request_url' %}";
                break;
            case "Reject":
                url = "{% url 'reject_request_url' %}";
                break;
            case "Remove":
                url = "{% url 'remove_request_url' %}";
                break;
        }
        

        $.ajax({
               type: "POST",
               url: url,
               data: {
                   'profile': target.attr("value"),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    target.parent().remove();
                    let badge_num = parseInt(badge.text());
                    badge.text((badge_num-1).toString());

                },
                error: function(response, e) {
                       console.log(response.responseText);
                }
          }); 
    })
</script>
{% endblock %}