{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
  }
  .form-signin .checkbox {
	font-weight: 400;
  }
  .form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
  }
  .form-signin .form-control:focus {
	z-index: 2;
  }
  .form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
  }
  .form-signin input[type="file"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
  }
  
  #signForm
  {
    background-image: url(/static/assets/images/banner-bg.jpg);
    color: white;
    padding-top: 150px;
  }

  #submitBtn
  {
    margin-top: 20px;
  }
</style>
<div id="signForm" class="text-center">
    <form class="form-signin" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>


      {% for field in form %}
      <p style="color: white">
        <label for="inputEmail" class="sr-only">{{ field.label_tag }}</label><br>
        {{ field }} <br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}


      <button id="submitBtn" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
</div>

{% endblock %}
